
body{
    
    height: 100vh;

}
.button-primary{
    background-color: rgba(231, 111, 81, 1);
    border: none;
    color: #fff;
}
h2{
    font-family: Rockwell, arial, sans-serif;
    color: rgba(231, 111, 81, 1);
}
h3{
    color: black;
}
form{
    margin: 0;
}
form input,
form button{
    display: inline-block;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid rgba(231, 111, 81, 1); /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input{
    padding: 10px ;
    border-radius: 5px;
    border: solid black 1px;
    width: 40%;
    
}
.button{
    width: 50%;
}


.logo{
    width: 500px;
    height: 200px;
    margin: 0 auto;
}
.wrapper{
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conatiner{
    margin: 0 auto;
    width: 50%;
}
.is-horizontal-center {
    justify-content: center;
  }
  .flex-column{
      flex-direction: column;
  }

.margin-medium{
    margin: 1em 0;
}
.results{
    margin-top: 1em;
}
/* Color Scheme */
